<div> 
  <div class="jumbotron text-center"> <img src="assets/bg_main.jpg" style="margin-left:-27px;margin-top:-65px; width:104.1%" >
       <h1>Employee Verification</h1>
        <p class="lead">We are welcoming you to the Employee Verification System </p>
        <div>
          <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
         </div>
    </div>
    <h1 class="text-center">Features</h1><br>
    <div class="row">
       <div class="col-md-4">
        <h3>Add Employee Data</h3>
         <p>HR can add their company employee data which is not modifiable</p>
        </div>
      <div class="col-md-4">
        <h3>Search Employee</h3>
        <p>HR can check the performance details of an employee in which he worked previously</p>
        </div>
      <div class="col-md-4">
       <h3>Chain Validity</h3>
       <p>At any time HR can check whether chain is valid or not means any employee details were changed or not</p>
        </div>
    </div>
</div>